@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
:root {
    --font-primary: 'Quicksand', sans-serif;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--font-primary);
}
/*Globales*/
.text-center{
    text-align: center;
}
.border{
    border: 1px solid black;
}
.margin-bottom{
    margin-bottom: 1rem;
}
.title-header{
    font-size: 4rem;
}
.title-h2{
    font-size: 3rem;
}
.header{
    width: 100%;
}
.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.todo-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-todo-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
.task{
    margin: 0 auto;
}
.task label{
    margin-bottom: 0.5rem;
}
